@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playwrite+AU+NSW:wght@100..400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #f5f5f5;;
}
.container{
    width: 70%;
    margin: 0 auto;
}

header{
    padding: 20px 0;
    background-color: white;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-family: "Kaushan Script", cursive;;
    display: inline-block;
    background-color: transparent;
    color: green;
}

.modeBtn{
    font-size: 18px;
    border-radius: 5px;
    left: 0;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #212529;
}

.modeBtn a{
    color: white;
    text-decoration: none;
}

.modeBtn:hover{
    background-color: #0f1113;
    cursor: pointer;
}

.mainTitle{
    margin: 30px 0;
    text-align: center;
}

table{
    border-collapse: collapse;
    table-layout: auto;
}

td, th{
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    max-width: 300px;
    
}