*{
    color: white;
}

body{
    background-color: #282828;
}

header{
    background-color: #212121;
}

nav{
    background-color: #212121;
}
nav h1{
    background-color: transparent;
}

.modeBtn{
    background-color: #f3fcfc;
}

.modeBtn a{
    text-decoration: none;
    color: black;
}

.modeBtn:hover{
    background-color: #c2c2c2;
}